h1{
    color:rgb(255,255,255);
    background-color: rgb(170, 73, 165);
    text-align: center;
    font-weight: bold; /* Texto en negrita */
    font-style: italic; /* Texto en cursiva */
}

p {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(194, 88, 153);
    font-weight: bold; /* Texto en negrita */
    font-style: italic; /* Texto en cursiva */
    margin: 50px;
    padding: 3px;
    text-align: justify;
}
.cuadro{
    height: 350px;
    width: 350px;
    background-color: aqua (255, 0, 98);
    border: 10px solid coral (205, 0, 192);
}

.flex-container{
    display: flex;
    flex-direction:row;
    }

img {
    display: block; /* Quita el espacio inferior */
    margin: 0 auto; /* Centra la imagen */
    height: 500;
    width: 300;
}
body {
    background-color: rgb(247, 175, 235);
}

/* Selector de clase */
.highlight{
   
    font-family: 'Times New Roman', Times, serif;
    color: rgb(20, 9, 19);
    background-color: rgb(245, 122, 189);
}

/* Selector de identidad */


/* Selector universal */
*{
    margin: 3px;
    padding: 3px;
}

/* Selectores de agrupaciÃ³n */
h2,h3,h4{
    text-align: center;
    color: rgb(72, 41, 156);
    font-style: oblique;
}
#footer{
    background-color: rgb(255, 255, 255);
    line-height: 50px;
    text-align: center;
    font-weight: bold; /* Texto en negrita */
    font-style: italic; /* Texto en cursiva */ 
}



iframe {
    margin: 0 auto;
    display:block;
}